
@{
    ViewBag.Title = "Index";
}


<div class="row">

    @Html.ActionLink("View All Staff", "ViewAllStaff", "Manager", new { @class = "btn btn-success btn-lg" })
    @Html.ActionLink("View All Customers", "ViewAllCustomers", "Manager", new { @class = "btn btn-success btn-lg" })




</div>
